<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next" ></script>
    <script src="app.js" defer></script>
    <style>
     [v-cloak] {
            display: none;
        }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <ul v-for="(fruit,index) in fruits">
        <li>{{index}}-{{fruit}}</li>
      </ul>

      <ul v-for="(profiles,index) of profile">
        <li>{{index}}-{{profiles}}</li>
      </ul>
    </div>
  </body>
</html>
